/* *********************************
CSS Reset 
************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* *********************************
ROOT 
************************************/

:root {
  --color-bg: #06171e;
  --color-card: #0d1b24;
  --color-accent: #ff4d4d;
  --color-text: #ffffff;
  --max-width: 1440px;
}

/* *********************************
LAYOUT & MAIN
************************************/

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.container_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  width: 350px;
  border: 2px solid green;
  padding-left: 20px;
  padding-right: 20px;
}
.book-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid paleturquoise;
  border-bottom: 2px solid paleturquoise;
  margin-top: 20px;
}
.book-container > img {
  width: 150px;
  height: 150px;
}

.card > h2 {
  padding-top: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid black;
}

.like-area {
  display: flex;
  align-items: center;
}

.like-area > img {
  width: 30px;
  height: 30px;
}

.card-comment-input-area {
  display: flex;
  border: 2px solid brown;
}

.card-comment-input-area > img {
  width: 24px;
  height: 24px;
}
.table-wrapper {
  border: 1px solid red;
  width: 100%;
  height: 200px;
  overflow: auto;
}

table {
  table-layout: fixed; /* Wichtig: Erzwingt feste Breiten */
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left; /* Text linksbündig */
  vertical-align: top; /* Oder middle für vertikale Mitte */
}
