.container-inner {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
  height: 400px;
  margin: 0 40px 0 40px;
  border: 2px solid green;
}

.card > img {
  width: 150px;
  height: 150px;
}

.card > h2 {
  border-bottom: 2px solid red;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.like-area {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.like-area > img {
  width: 32px;
  height: 32px;
}

.card-info-area {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  border-bottom: 2px solid red;
  margin-bottom: 20px;
}

.card-area-single-info {
  display: flex;
}

.card-comment-area {
  display: flex;
  gap: 50px;
}

.card-comment-input-area > img {
  width: 24px;
  height: 24px;
}

.card-comment-input-area {
  display: flex;
}
